[submodule "nvim/submod/packer.nvim"]
	path = nvim/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "pres/remark"]
	path = docs/pres/remark
	url = https://github.com/gnab/remark
	ignore = dirty
[submodule "hemsida/themes/terminal"]
	path = hemsida/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal
