[submodule "nvim/submod/packer.nvim"]
	path = nvim/submod/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "pres/remark"]
	path = pres/remark
	url = https://github.com/gnab/remark
